<h1>DBZ Personajes</h1>   <!--  -->
<hr>                      <!--  -->

<div class="row">         <!-- .row para crear <div class="row"></div> -->

  <div class="col">       <!-- .col para crear <div class="col"></div> -->

    <!-- main-page.component (Componente Padre) y list.component (Componente Hijo) -->
    <dbz-list
      [characterList]="characters"
      (onDelete)="onDeleteCharacter($event)"
    >
    </dbz-list>

  </div>


  <div class="col">       <!-- .col para crear <div class="col"></div> -->

    <!-- main-page.component (Componente Padre) y add-character.component (Componente Hijo) -->
    <dbz-add-character
      (onNewCharacter)="onNewCharacter($event)"
    >
    </dbz-add-character>

  </div>

</div>
